*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 900px;
    color: paleturquoise;
    font-family:fantasy;
    font-size: 200%;
}